body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

* {padding: 0;}

/* * {border: 1px solid red;} */

img {height: 200px;}

.header {
    background-color: rgb(20, 46, 20);
    color: white; 
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 900;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
}