body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

* {border: 1px solid red;}

img {height: 200px;}

.header {
    background-color: rgb(20, 46, 20);
    color: white; 
    padding: 16px;
}

ul {
    list-style: none;
}
li {
    display: inline-block;
}